@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-image: linear-gradient(154.8deg, #00cfff, #00ffdb, #f5ff7c);
  font-family: "Roboto", sans-serif;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
}
