@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-image: linear-gradient(154.8deg, #00b7ff, #67e1bf, #fff07c);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 3em;
}