main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column nowrap;
}

main p {
  text-align: center;
}

.demos {
  display: flex;
  width: calc(100vw - min(200px, 20vw));
  margin-left: min(100px, 10vw);
  margin-right: min(100px, 10vw);
  padding: 30px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 40px;
}